html body {
    background:url("../../img/nuovobg.jpg");
    background-position:center;
	background-size: 100%;
}

.reveal h1 {

}

.orange {
    color: #FF9900;
}

.reveal section img {
    border:0 none;
    background: transparent;
    box-shadow:none;
}

.reveal a:not(.image),
.reveal a {
    color: #7cc1ff;
}

.reveal pre {
    background: rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border:1px dashed #fff;
}
.reveal pre code {
    background: transparent;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

span.courier {
    font-family: Courier, monospace;
}

.columns {
    overflow: hidden;
    width: 100%;
}
.columns .col {
    width: 50%;
    float: left;
}
.columns .col .col-inner {
    padding: 0 10px;
}

pre.big {
    font-size:.70em;
}
